<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>会员列表-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<link rel="stylesheet" href="../../static/css/font.css" />
		<link rel="stylesheet" href="../../static/css/weadmin.css" />
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
		  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
		  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="weadmin-nav">
			<span class="layui-breadcrumb">
				<a href="javascript:;">首页</a> <a href="javascript:;">收藏夹</a>
				<a href="javascript:;"> <cite>收藏夹</cite></a>
			</span>
			<a class="layui-btn layui-btn-sm" style="margin-top:3px;float:right" href="javascript:location.replace(location.href);"
			 title="刷新">
				<i class="layui-icon layui-icon-refresh"></i>
				<!-- <i class="layui-icon" style="line-height:30px">&#x1002;</i> -->
			</a>
		</div>

		<div class="weadmin-body">
			<div class="layui-row">
				<form class="layui-form layui-col-md12 we-search">
					<!--会员搜索：-->
					<!--<div class="layui-inline">-->
						<!--<input class="layui-input" placeholder="开始日" name="start" id="start" />-->
					<!--</div>-->
					<!--<div class="layui-inline">-->
						<!--<input class="layui-input" placeholder="截止日" name="end" id="end" />-->
					<!--</div>-->
					<!--<div class="layui-inline">-->
						<!--<input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input" />-->
					<!--</div>-->
					<!--<button class="layui-btn" lay-submit="" lay-filter="sreach">-->
						<!--<i class="layui-icon layui-icon-search"></i>-->
					<!--</button>-->
				</form>
			</div>
			<div class="weadmin-block">
				<!--<button class="layui-btn layui-btn-danger" onclick="delAll()">-->
					<!--<i class="layui-icon layui-icon-delete"></i>批量删除-->
				<!--</button>-->
				<!--<button class="layui-btn" onclick="WeAdminShow('添加用户','./add.html',600,400)">-->
					<!--<i class="layui-icon layui-icon-add-circle-fine"></i>添加-->
				<!--</button>-->
				<span class="fr" style="line-height:40px" id="total-data">共有数据：88 条</span>
			</div>
			<table class="layui-table" id="collectList" lay-filter="layui-collect">
				<!--<thead>-->
					<!--<tr>-->
						<!--<th>-->
							<!--<div class="layui-unselect header layui-form-checkbox" lay-skin="primary">-->
								<!--<i class="layui-icon">&#xe605;</i>-->
							<!--</div>-->
						<!--</th>-->
						<!--<th>ID</th>-->
						<!--<th>用户名</th>-->
						<!--<th>性别</th>-->
						<!--<th>手机</th>-->
						<!--<th>邮箱</th>-->
						<!--<th>地址</th>-->
						<!--<th>加入时间</th>-->
						<!--<th>状态</th>-->
						<!--<th>操作</th>-->
					<!--</tr>-->
				<!--</thead>-->
				<!--<tbody>-->
					<!--<tr data-id="1">-->
						<!--<td>-->
							<!--<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id="1">-->
								<!--<i class="layui-icon">&#xe605;</i>-->
							<!--</div>-->
						<!--</td>-->
						<!--<td>1</td>-->
						<!--<td>小张</td>-->
						<!--<td>男</td>-->
						<!--<td>17600000000</td>-->
						<!--<td>admin@mail.com</td>-->
						<!--<td>北京市 海淀区</td>-->
						<!--<td>2017-01-01 11:11:42</td>-->
						<!--<td class="td-status">-->
							<!--<span class="layui-btn layui-btn-normal layui-btn-xs">已启用</span>-->
						<!--</td>-->
						<!--<td class="td-manage">-->
							<!--<a onclick="member_stop(this,'10001')" href="javascript:;" title="启用">-->
								<!--<i class="layui-icon layui-icon-download-circle"></i>-->
							<!--</a>-->
							<!--<a title="编辑" onclick="WeAdminEdit('编辑','./edit.html', 1, 600, 400)" href="javascript:;">-->
								<!--<i class="layui-icon layui-icon-edit"></i>-->
							<!--</a>-->
							<!--<a onclick="WeAdminShow('修改密码','./password.html',600,400)" title="修改密码" href="javascript:;">-->
								<!--<i class="layui-icon layui-icon-util"></i>-->
							<!--</a>-->
							<!--<a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">-->
								<!--<i class="layui-icon layui-icon-delete"></i>-->
							<!--</a>-->
						<!--</td>-->
					<!--</tr>-->
					<!--<tr data-id="2">-->
						<!--<td>-->
							<!--<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id="2">-->
								<!--<i class="layui-icon">&#xe605;</i>-->
							<!--</div>-->
						<!--</td>-->
						<!--<td>2</td>-->
						<!--<td>小明</td>-->
						<!--<td>女</td>-->
						<!--<td>13000000000</td>-->
						<!--<td>admin@mail.com</td>-->
						<!--<td>北京市 海淀区</td>-->
						<!--<td>2017-01-01 11:11:42</td>-->
						<!--<td class="td-status">-->
							<!--<span class="layui-btn layui-btn-normal layui-btn-xs">已启用</span>-->
						<!--</td>-->
						<!--<td class="td-manage">-->
							<!--<a onclick="member_stop(this,'10001')" href="javascript:;" title="启用">-->
								<!--<i class="layui-icon layui-icon-download-circle"></i>-->
							<!--</a>-->
							<!--<a title="编辑" onclick="WeAdminEdit('编辑','./edit.html', 2, 600, 400)" href="javascript:;">-->
								<!--<i class="layui-icon layui-icon-edit"></i>-->
							<!--</a>-->
							<!--<a onclick="WeAdminShow('修改密码','./password.html',600,400)" title="修改密码" href="javascript:;">-->
								<!--<i class="layui-icon layui-icon-util"></i>-->
							<!--</a>-->
							<!--<a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">-->
								<!--<i class="layui-icon layui-icon-delete"></i>-->
							<!--</a>-->
						<!--</td>-->
					<!--</tr>-->
				<!--</tbody>-->
			</table>
			<div id="paging">
				<!--<div>-->
					<!--<a class="prev" href="">&lt;&lt;</a> <a class="num" href="">1</a>-->
					<!--<span class="current">2</span> <a class="num" href="">3</a>-->
					<!--<a class="num" href="">489</a> <a class="next" href="">&gt;&gt;</a>-->
				<!--</div>-->
			</div>
		</div>
		<!--<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
		<script src="../../lib/layui/layui.js" charset="utf-8"></script>
		<script src="../../static/js/eleDel.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/html" id="opBar">
			<a class="layui-btn-normal layui-btn" lay-event="edit">查看学校官网</a>
			<a class="layui-btn-warm layui-btn" lay-event="show">取消收藏</a>
		</script>

		<script type="text/javascript">
            layui.use(['laydate','jquery','admin','form','table','laypage'], function() {
                var laydate = layui.laydate,
                    $ = layui.jquery,
                    form = layui.form,
                    table = layui.table,
                    laypage = layui.laypage,
                    admin = layui.admin;


                var limitcount = 10;
                var curnum = 1;
                var majorTypeList = null;
                var token = "";


                //监听toolbar工具栏操作
                table.on('tool(layui-collect)',function (obj) {
                    var data  =obj.data;		//获得该行数据
                    var layEvent = obj.event;	//获得 lay-event 对应的值（
                    var tr = obj.tr;  ////获得当前行 tr 的 DOM 对象（如果有的话）
                    if(layEvent === 'edit'){
                        //alert(data.exUniId);
                        window.open(data.exUniWebsite);
                    }
                    if(layEvent === 'show'){
                        token = localStorage.getItem("token");
                        $.post("http://localhost:8080/cancelCollectCollage?token="+token,{exUniCode:data.exUniCode},function (res) {
                            if(res.resultCode == "0000"){
                                layer.alert("提示："+res.resultMsg);
                                //删除成功 reload
                                getCollectMsgByUserId(curnum,limitcount);
                            }else {
                                layer.alert("提示："+res.resultMsg);
                            }
                        })
                        //调用收藏接口
                    }
                });

                var total = 0;


                //页面加载时，获取用户的收藏信息展示在页面中
				$(function () {
                    getCollectMsgByUserId(curnum,limitcount);
                });




				function getCollectMsgByUserId(curr,limit) {
                    token = localStorage.getItem("token");
                    table.render({
                        elem: '#collectList',
                        url: 'http://localhost:8080/getCollectMsgByUserId?token='+token,
                        where:{
                            curr:curr,
                            limit:limit
                        },

                        cols:[[
                            {
                                field:'exUniName',
                                title:'学校名称',
                                sort:true,
                                width:200
                            },
                            {
                                field:'exUniProvince',
                                title:'省份',
                                sort:true,
                                width:100
                            },
                            {
                                field:'exUniCity',
                                title:'城市',
                                sort:true,
                                width:80
                            },
                            {
                                field:'exUniType',
                                title:'学校类型',
                                sort:true,
                                width:100
                            },
                            {
                                field:'exUniLevel',
                                title:'办学层次',
                                sort:true,
                                width:100
                            },
                            {
                                field:'exUniGrade',
                                title:'学校层次',
                                sort:true,
                                width:180
                            },
                            {
                                field:'exUniTel',
                                title:'招生电话',
                                sort:true,
                                width:150
                            },
                            {
                                field:'exUniAddress',
                                title:'学校地址',
                                sort:true,
                                width:300
                            },
                            // {
                            //     field:'status',
                            //     title:'推荐指数',
                            //     sort:true,
                            //     width:100,
                            //     templet:setStatus,
                            //     align:'center'
                            // },
                            {
                                title:'操作',
                                fiexd:'right',
                                width:310,
                                align:'center',
                                toolbar:'#opBar'
                            }

                        ]],
						done:function (res) {
							total = res.count;
							$("#total-data").html("共有数据： "+total+" 条");
                        }
                        //,…… //其他参数
                    });
                }

                //分页组件
                laypage.render({
                    elem:'paging',
                    count:total,
                    limit:limitcount,
                    limits:[10, 20, 30],
                    groups:5,
                    curr:1,
                    jump:function (obj,first) {
                        if(!first){
                            getCollectMsgByUserId(obj.curr,obj.limit);
                        }
                    }
                });


            });
		</script>
	</body>
</html>
