<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>统计图表-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" href="../../static/css/font.css">
		<link rel="stylesheet" href="../../static/css/weadmin.css">
        <link rel="stylesheet" href="../../lib/othersCss/toastr.css">

        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="weadmin-body">
            <form class="layui-form layui-col-md12 we-search">

                <div class="weadmin-block">
                    <button class="layui-btn layui-btn-danger">
                        <i class="layui-icon layui-icon-search"></i>所在省份
                    </button>
                </div>
                <div class="layui-input-block" id="btn-province">

                </div>

                <div class="weadmin-block">
                    <button class="layui-btn layui-btn-danger">
                        <i class="layui-icon layui-icon-search"></i>所在城市
                    </button>
                </div>
                <div class="layui-input-block" id="btn-city">
                </div>

                <div class="weadmin-block">
                    <button class="layui-btn layui-btn-danger">
                        <i class="layui-icon layui-icon-search"></i>所在城市
                    </button>
                </div>
                <div class="layui-input-block" id="btn-uni">
                </div>

                <!--<button class="layui-btn" lay-submit="" lay-filter="searchUniversity"><i class="layui-icon">&#xe615;</i></button>-->

            </form>
            <blockquote class="layui-elem-quote">
                特别声明：以下各项数据是对每个高校近三年的分数信息、报考人数、招生人数、录取人数信息的基本汇总，仅供参考，具体信息建议挪步至学校官网查看。 <a id="uniWebsite" href="#" style="color:red"></a>
            </blockquote>
            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
            <div id="main" style="width: 100%;height:400px;"></div>
            <blockquote class="layui-elem-quote">
            </blockquote>
        </div>
        <script src="//cdn.bootcss.com/echarts/4.0.2/echarts.min.js"></script>
        <script src="../../lib/layui/jquery-3.1.1.min.js"></script>
        <script src="../../lib/othersJs/toastr.js"></script>
        <script src="../../lib/layui/layui.js" charset="utf-8"></script>
        <script src="../../static/js/eleDel.js" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript">
            toastr.options = {
                closeButton: false,
                debug: false,
                progressBar: true,
                positionClass: "toast-top-center",
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                timeOut: "2000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut"
            };
            layui.use(['laydate','jquery','admin','form','table','laypage'], function() {
                var laydate = layui.laydate,
                    $ = layui.jquery,
                    form = layui.form,
                    table = layui.table,
                    laypage = layui.laypage,
                    admin = layui.admin;


                var limitcount = 10;
                var curnum = 1;
                var majorTypeList = null;
                var token = "";
                var cityLists = null,
                    provinceLists = null,
                    typeLists = null,
                    gradeLists = null,
                    levelLists = null,
                    natureLists = null;


                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));

                var scoreMap = {};
                var applyMap = {};
                var enrollmentMap = {};
                var admissionMap = {};
                var option = {};
                var university = null;
                //给连接绑定个事件
                $("#uniWebsite").on("click", function () {
                    window.open(university.exUniWebsite);
                });


                $(function () {
                    token = localStorage.getItem("token");

                    //提交post请求，加载数据
                    $.post("http://localhost:8080/getStaticData?token="+token,function (res) {
                        provinceLists = res.listProvince;
                        gradeLists = res.listUniGrade;
                        levelLists = res.listUniLevel;
                        natureLists = res.listUniNature;
                        typeLists = res.listUniType;


                        var provinceHtml = "";
                        //遍历整个结果集，将省份字段嵌入html文本
                        res.listProvince.forEach(function (item,index) {
                            provinceHtml += "<button type='button' class='layui-btn layui-btn-primary layui-btn-sm' id=province"+index+"  value="+item.attrCode+"><i class='layui-icon'>&#xe6c6;</i>"+item.attrSpecName+"</button>";
                        });
                        $("#btn-province").append(provinceHtml);

                        //一开始默认选中第一个按钮  并加载第一个类别的专业信息
                        $("#province0").removeClass("layui-btn-primary");
                        $("#province0").addClass("layui-btn-warm");
                        var attrCode = $("#province0").val();
                        //这里需要调用查询省份下边的城市的接口
                        getCityMsgByType(attrCode);

                    });
                });
                //给所有省份按钮绑定事件，动态加载城市列表
                $(document).on('click','#btn-province .layui-btn',function (e) {
                    var attrCode = $(this).val();
                    var selector = "#btn-province button";
                    var btnIdName = "#province";
                    var selectedNor = "layui-btn-primary";
                    var selected = "layui-btn-warm";
                    dealBtn(selector,btnIdName,selectedNor,selected,attrCode);
                    getCityMsgByType(attrCode);
                });
                //处理城市按钮的效果，这里不提交数据，
                $(document).on('click','#btn-city .layui-btn',function (e) {
                    var majorCode = $(this).val();
                    var selector = "#btn-city button";
                    var btnIdName = "#city";
                    var selectedNor = "layui-btn-primary";
                    var selected = "layui-btn-warm";
                    dealBtn(selector,btnIdName,selectedNor,selected,majorCode);
                    getCollageByCityCode(majorCode);
                });
                //处理城市按钮的效果，这里不提交数据，
                $(document).on('click','#btn-uni .layui-btn',function (e) {
                    var majorCode = $(this).val();
                    var selector = "#btn-uni button";
                    var btnIdName = "#uni";
                    var selectedNor = "layui-btn-primary";
                    var selected = "layui-btn-warm";
                    dealBtn(selector,btnIdName,selectedNor,selected,majorCode);
                    getDataVision(majorCode);
                });
                /**
                 * 处理页面按钮选择状态
                 * @param selector  选择器
                 * @param btnIdName  id前缀信息
                 * @param selectedNor	未选中的class样式
                 * @param selected		选中的class样式
                 */
                function dealBtn(selector,btnIdName,selectedNor,selected,params) {
                    Array.prototype.forEach.call(document.querySelectorAll(selector),function (item,index,arr) {
                        //点击当前按钮之后，需要选择该按钮，并将其他按钮置为原状
                        if(params && item.value != params){
                            $(btnIdName+index).addClass(selectedNor);
                            $(btnIdName+index).removeClass(selected);
                        }else {
                            $(btnIdName+index).removeClass(selectedNor);
                            $(btnIdName+index).addClass(selected);
                        }
                        //alert(item.value);
                    });
                }

                //封装一个接口，根据用户点击的省份信息查询
                function  getCityMsgByType(attrCode) {

                    $.post("http://localhost:8080/getCityByAttrCode?token="+token,{attrCode:attrCode},function (cityList) {
                        cityLists = cityList;
                        var cityHtml = "";
                        cityList.forEach(function (item,index) {
                            cityHtml += "<button type='button' class='layui-btn layui-btn-primary layui-btn-sm' id=city"+index+"  value="+item.attrValueId+"><i class='layui-icon'>&#xe6c6;</i>"+item.attrValueName+"</button>";
                        });
                        $("#btn-city").html(cityHtml);

                        //默认选中第一个城市
                        $("#city0").removeClass("layui-btn-primary");
                        $("#city0").addClass("layui-btn-warm");

                        var cityCode = $("#city0").val();

                        //城市数据加载完成后应该默认加载该城市下的学校信息
                        getCollageByCityCode(cityCode);
                    });
                };

                //此处定义一个函数，查询用户点击城市下的所有学校
                function getCollageByCityCode(cityCode) {
                    token = localStorage.getItem("token");
                    $.post("http://localhost:8080/getCollageByCityCode?token="+token,{exUniCity:cityCode},function (res) {
                        var uniHtml = "";
                        res.data.forEach(function (item,index) {
                            uniHtml += "<button type='button' class='layui-btn layui-btn-primary layui-btn-sm' id=uni"+index+"  value="+item.exUniCode+"><i class='layui-icon'>&#xe6c6;</i>"+item.exUniName+"</button>";
                        });
                        $("#btn-uni").html(uniHtml);

                        //默认选中第一个学校 并加载第一个学校分数信息
                        // $("#uni0").removeClass("layui-btn-primary");
                        // $("#uni0").addClass("layui-btn-warm");
                        // var uniCode = $("#uni0").val();
                        //
                        // getDataVision(uniCode);
                    })
                }





                //根据学校编码查询学校近三年信息汇总
                function getDataVision(exUniCode) {
                    token = localStorage.getItem("token");
                    $.post("http://localhost:8080/getUniThreeYearMsg?token=" + token, {exUniCode: exUniCode}, function (res) {
                        if (res.code == "0000") {
                            scoreMap = res.scoreMap;
                            applyMap = res.applyMap;
                            enrollmentMap = res.enrollmentMap;
                            admissionMap = res.admissionMap;
                            university = res.uniMsg;
                            //动态处理学校官网超链接 以及名称
                            // $("#uniWebsite").attr("href",res.uniMsg.exUniWebsite);
                            $("#uniWebsite").text(res.uniMsg.exUniName);

                            // 指定图表的配置项和数据
                            myChart.setOption(option = {
                                title: {
                                    text: '近三年信息折叠图'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                legend: {
                                    data: ['近三年分数信息', '近三年报考人数', '近三年招生人数', '近三年录取人数']
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                },
                                toolbox: {
                                    feature: {
                                        saveAsImage: {}
                                    }
                                },
                                xAxis: {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: ['第一年', '第二年', '第三年']
                                },
                                yAxis: {
                                    type: 'value'
                                },
                                series: [
                                    {
                                        name: '近三年分数信息',
                                        type: 'line',
                                        stack: '总量',
                                        data: [res.scoreMap.firstYearScore, res.scoreMap.secondYearScore, res.scoreMap.thirdYearScore]
                                    },
                                    {
                                        name: '近三年报考人数',
                                        type: 'line',
                                        stack: '总量',
                                        data: [res.applyMap.firstYearApply, res.applyMap.secondYearApply, res.applyMap.thirdYearApply]
                                    },
                                    {
                                        name: '近三年招生人数',
                                        type: 'line',
                                        stack: '总量',
                                        data: [res.enrollmentMap.firstYearEnrollment, res.enrollmentMap.secondYearEnrollment, res.enrollmentMap.thirdYearEnrollment]
                                    },
                                    {
                                        name: '近三年录取人数',
                                        type: 'line',
                                        stack: '总量',
                                        data: [res.admissionMap.firstYearAdmission, res.admissionMap.secondYearAdmission, res.admissionMap.thirdYearAdmission]
                                    }
                                ]
                            });
                        } else {
                            toastr.info("错误信息" + res.msg);
                        }
                    })
                }


                //layui end-------
            })
        // 使用刚指定的配置项和数据显示图表。
        // myChart.setOption(option);
    </script>
    </body>
</html>